.brand-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8.096rem;
  height: 2.096rem;
  background-color: var(--yellow-100);
  border-radius: 100px;
  margin: 1.2rem 0 1.6rem;

  span {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 13px;
    color: var(--yellow-900);
  }
}
